@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex; /*  everything will become horizontal */
    align-items: center; /* To center Home & About*/
    list-style-type:none; /* dots will be removed*/
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;  /*To give space between all list items like spotify with name & Logo, home & about*/
}
.brand img{ /* .classname tag-name */
    width: 44px;
    padding: 8px; /*To give space between logo & name Spotify*/
}
.brand{
    display: flex; /* To Horizontal logo & Spotify name*/
    align-items: center; /* To center logo & Spotify name*/
    font-weight: bolder; 
    font-size: 1.3rem;
}
.container{
    min-height: 72vh; /* height of container is 75 % of total height */
    background-color:black;
    color: whitesmoke;
    font-family: 'Varela Round',sans-serif;
    display:flexbox;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white; /* content inside bottom class will become white */
    display: flex; 
    justify-content: center; /*It make progress indicator from left to center */
    align-items: center;
    flex-direction: column; /* To bring out font awesome icons down the progress indicator*/
    margin-bottom: 12px;
    
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer; /* So that we can play,pause,next songs etc */
}
#myProgressBar{  /* #id-name Syntax */
    width: 80vw;
    cursor: pointer; /* So that we can change song part with cursor */
}

.songItemContainer{
    margin-top: 34px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 35%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
    /* cursor: pointer; */
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 9.5vw;
    font-family: 'Varela Round',sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.6s ease-in;
}